body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background{
  
  background-color: rgb(77,78,80);
  background-repeat: no-repeat;
  width: 375;
  height: 812px;
}

.head_padding{
  padding-top: 64px;
}
/* search.jsx */
.input_Search{
  position: 15px 70px;
  margin: 15px 0 15px 0;
  width: 345px;
  height: 34px;
  border-radius: 15px; 
  opacity: 10%;
  color: #FFFFFF ;
}

.box{
  position: 0px 64px;
  width: 375;
  height: 46px;
  opacity: 100;
  color: #57585A 100%;
  padding-top: 64px;
}

.icon-user{
  
  background-image: "/Users/kevin/gym/src/icon/search.png"; /*引入图片图片*/
  background-repeat: no-repeat; /*设置图片不重复*/
  background-position: 30px 77px; /*图片显示的位置*/
  width: 20px; /*设置图片显示的宽*/
  height: 20px; /*图片显示的高*/
  }

input::-webkit-input-placeholder{
  opacity: 0.4;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

/* pay.img */
.pay{
  position: absoulte;
  left:158px ;
  top:164px;
  width: 60px;
  height: 60px;
  opacity: 100%;
}
/* bottom */
.bottom{
  opacity: 0.96;
  background: #444548;
  position: 0px 617px;
  width: 375;
  height: 50px;
  opacity: 96%;
}

/* PaySuccess.jsx */
.title_text{
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #FFFFFF;
  word-spacing: 0px 21px;
  position: 158px 239px;
  width: 60px;
  height: 239px;
  opacity: 100%;
}

.description_textdescription_text{
  opacity: 0.6;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF 100%;
  text-align: center;
  position: 42px 268px;
  width: 291px;
  height: 40px;
  opacity: 60%;
  word-spacing: 0px 20px;
}
.course_text{
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #FFD738;
  position: 158px 631px;
  width: 60px;
  height: 22px;
  opacity: 100%;

}

/* HomePage */
.home_photo{
  position: 20px 125px;
  width: 335px;
  height: 140px;
  border-radius: 2px;
}