body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;


}
/* Header */
.container{
  width: 100%;
  height: 1.2cm;
  background-color:black;
  position: fixed;
  

}
.icon{

  float: left;
  background: white;
  border-radius: 50%;

  
}
.list{
  float: right;
  fill: white;
    
}

.signup{
  float: right;
  margin: -4px;
  border-radius: 9px;
}



.title{
  border-top: 1px solid #e1e4e8;
  border-bottom: 1px solid #e1e4e8;
  margin-top: 1cm;
  padding-top: 1cm;
  padding-bottom: 1cm;
  background-color: #f6f8fa;
  float: left;

}
/* 
.link{
  margin: 1cm;
  width: 100%;


  background: white;
  position: fixed;

} */

/* Content */

.text-normal{
  font-size: 20px;
}
/* .left{
  padding-left: 1cm;
  text-align: left;
} */

.Content_left{
  padding: 16px;
    margin-top: -1px;
    list-style-type: none;
    border-top: 1px solid #e1e4e8;
    
}

.content-ctn{
  border: 1px solid #e1e4e8;
  margin-left: 16px;
  margin-right: 16px;

}

li{

  text-align: left;

}

.btn-sm {
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;
}

.btn {
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
}

.adjust-size{
  font-size: 13px;
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: skyblue;
}

.content_top{
  padding-top:7.5cm;
}
